@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');

body{
    background-color: rgb(248, 105, 38);
}


#textStyle
{
    color: goldenrod;
    font-size: 3vh;
    font-family: 'Courgette', cursive;
    border: none;
}

#valueStyle{
    font-size: 3vh;
    font-family: 'Roboto Slab', serif;
    border: none;
    color: black;
    border-radius: 8%;
}

#details
{
    padding-left: 30%;
}

input{
    color: none;
}

button
{
    padding-top: 1%;
    padding-bottom: 1%;
    width: 50%;
    font-size: 190%;
    text-align: center;
    background-color: blue;
    color: rgb(255, 255, 255);
}

.container-1
{
    padding-left: 30% !important;
}

button:hover
{
    color: white;
}
#preview {
            width:65% !important;
            height:30% !important;
}


@media (min-width: 250px) and (max-width: 800px)
{
    button{
        width: 100%;
    }
    .container-1
    {
        padding-left: 0% !important;
    }
    #pullingo
    {
        width: 100%;
    }
    #details{
        padding-left: 0%;
    }
    #valueStyle{
        width: 60%;
    }
    #dSY{
        width: 20%;
    }
    #preview
    {
        width: 100% !important;
        height: 1000% !important;
    }
}