/* Main tabs */
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);

.center {
    text-align: center;
}
.board {
    width: 50%;
    height: auto;
    margin: 30px auto;
    background: none;
}

.board .nav-tabs {
    position: relative;
    margin: 40px auto;
    margin-bottom: 0;
    box-sizing: border-box;
}

.liner {
    height: 2px;
    background: #ddd;
    position: absolute;
    width: 74%;
    margin: 0 auto;
    left: 10px;
    right: 0;
    top: 50%;
    z-index: 1;
}

.nav-tabs > li {
    width: 25%;
}

.nav-tabs > li:after {
    content: " ";
    position: absolute;
    opacity: 0;
    margin: 0;
    margin-left: -10px;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #F44336;
    transition: left 1s;
}

.nav-tabs > li.active:after {
    left: 50%;
    opacity: 1;
}

.nav-tabs > li[rel-index="-1"]:after {
    left: calc(50% + 100%);
}

.nav-tabs > li[rel-index="-2"]:after {
    left: calc(50% + 200%);
}

.nav-tabs > li[rel-index="-3"]:after {
    left: calc(50% + 300%);
}

.nav-tabs > li[rel-index="1"]:after {
    left: calc(50% - 100% );
}

.nav-tabs > li[rel-index="2"]:after {
    left: calc(50% - 200%);
}

.nav-tabs > li[rel-index="3"]:after {
    left: calc(50% - 300%);
}

.nav-tabs > li a {
    width: 70px;
    height: 70px;
    line-height: 70px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
    border: none;
    background: none;
}

.nav-tabs > li a:hover {
    border: none;
    background: none;
}

.nav-tabs > li.active a, .nav-tabs > li.active a:hover {
    border: none;
    background: none;
}

.nav-tabs > li span {
    width: 40px;
    height: 40px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100%;
    background: white;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
    margin-top: 14px;
}

.nav-tabs > li:nth-of-type(1) span {
    color: #3e5e9a;
    border: 2px solid #3e5e9a;
}

.nav-tabs > li:nth-of-type(1).active span {
    color: #fff;
    background: #3e5e9a;
}

.nav-tabs > li:nth-of-type(2) span {
    color: #f1685e;
    border: 2px solid #f1685e;
}

.nav-tabs > li:nth-of-type(2).active span {
    color: #fff;
    background: #f1685e;
}

.nav-tabs > li:nth-of-type(3) span {
    color: #febe29;
    border: 2px solid #febe29;
}

.nav-tabs > li:nth-of-type(3).active span {
    color: #fff;
    background: #febe29;
}

.nav-tabs > li:nth-of-type(4) span {
    color: #25c225;
    border: 2px solid #25c225;
}

.nav-tabs > li:nth-of-type(4).active span {
    color: #fff;
    background: #25c225;
}
.nav-tabs > li:nth-of-type(5) span {
    color: #25c225;
    border: 2px solid #25c225;
}

.nav-tabs > li:nth-of-type(5).active span {
    color: #fff;
    background: #25c225;
}
.nav-tabs > li:nth-of-type(6) span {
    color: #25c225;
    border: 2px solid #25c225;
}

.nav-tabs > li:nth-of-type(6).active span {
    color: #fff;
    background: #25c225;
}

.nav-tabs > li > a.disabled {
    opacity: 1;
}

.nav-tabs > li > a.disabled span {
    border-color: #ddd;
    color: #aaa;
}

div[role="tabpanel"]:after {
    content: "";
    display: block;
    clear: both;
}
.g1{
  top:-20px;
  font-size: 70%;
}
.glyphicon {
    position: relative;
    top: -13px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/* Begin Business Info */