.alert {
    background: #f8d7da;
    padding: 5px 10px;
    border-radius: 8px;
  }
    .animation-ctn{
        text-align:center;
        margin: 5em auto;
    }

    @-webkit-keyframes checkmark {
    0% {
        stroke-dashoffset: 100px
    }

    100% {
        stroke-dashoffset: 200px
    }
    }

    @-ms-keyframes checkmark {
    0% {
        stroke-dashoffset: 100px
    }

    100% {
        stroke-dashoffset: 200px
    }
    }

    @keyframes checkmark {
    0% {
        stroke-dashoffset: 100px
    }

    100% {
        stroke-dashoffset: 0px
    }
    }

    @-webkit-keyframes checkmark-circle {
    0% {
        stroke-dashoffset: 480px

    }

    100% {
        stroke-dashoffset: 960px;

    }
    }

    @-ms-keyframes checkmark-circle {
    0% {
        stroke-dashoffset: 240px
    }

    100% {
        stroke-dashoffset: 480px
    }
    }

    @keyframes checkmark-circle {
    0% {
        stroke-dashoffset: 480px
    }

    100% {
        stroke-dashoffset: 960px
    }
    }

    @keyframes colored-circle {
    0% {
        opacity:0
    }

    100% {
        opacity:100
    }
    }

    /* other styles */
    /* .svg svg {
    display: none
    }
    */
    .inlinesvg .svg svg {
    display: inline
    }

    /* .svg img {
    display: none
    } */

    .icon--order-success svg polyline {
    -webkit-animation: checkmark 0.3s ease-in-out 0.9s backwards;
    animation: checkmark 0.3s ease-in-out 0.9s backwards
    }

    .icon--order-success svg circle {
    -webkit-animation: checkmark-circle 0.6s ease-in-out backwards;
    animation: checkmark-circle 0.6s ease-in-out backwards;
    }
    .icon--order-success svg circle#colored {
    -webkit-animation: colored-circle 0.6s ease-in-out 0.7s backwards;
    animation: colored-circle 0.6s ease-in-out 0.7s backwards;
    }


    .buttonDiv{
        width: 100%;
      }
      
      .button {
        margin:0 auto;
        background-color: rgb(101, 103, 122);
        color: white;
        display: inline-block;
        position: relative;
        padding: 20px 90px 20px 40px;
        border: 2px solid rgb(187, 26, 26);
        border-radius: 40px;
        -webkit-transition: 0.35s padding cubic-bezier(0.46, 0.26, 0.56, 1.78), 0.25s background;
        transition: 0.35s padding cubic-bezier(0.46, 0.26, 0.56, 1.78), 0.25s background;
        text-decoration: none;
        font-size: 28px;
        font-weight: bold;
      }
      .button__arrow {
        display: block;
        width: 40px;
        height: 2px;
        background: white;
        position: absolute;
        -webkit-transition: .25s transform, .25s background, .25s color;
        transition: .25s transform, .25s background, .25s color;
        right: 20px;
        top: calc(50% - 1px);
      }
      .button__arrow:after, .button__arrow:before {
        height: 100%;
        width: 50%;
        content: '';
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        background: white;
        -webkit-transform-origin: right center;
                transform-origin: right center;
        -webkit-transition: .25s transform, .25s background;
        transition: .25s transform, .25s background;
      }
      .button:hover {
        padding-right: 90px;
        background: white;
        color: black;
      }
      .button:hover .button__arrow {
        background: black;
      }
      .button:hover .button__arrow:after {
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
        background: black;
      }
      .button:hover .button__arrow:before {
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
        background: black;
      }